@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;600;700&display=swap');

/* General Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  min-height: 120vh;
  overflow-x: hidden;
}

header {
  position: relative;
}

header::after {
  content: '';
  width: 381.4px;
  height: 520px;
  background-image: url(assets/bg-main-mobile.png);
  background-size: cover;
  background-position: 20% 60%;
  position: absolute;
  right: -110px;
  top: -144px;
  z-index: -1;
}

@media only screen and (min-width: 750px) {
  header::after {
    background-image: url(assets/bg-main-tablet.png);
    background-repeat: none;
    background-position: 80% 60%;
    right: -30px;
    top: -144px;
    width: 983px;
    height: 908px;
  }
}

@media only screen and (min-width: 1050px) {
  header::after {
    width: 1813px;
    right: -280px;
    top: -144px;
    background-position: 135% 60%;
    height: 1758px;
    background-image: url(assets/bg-main-desktop.png);
  }
}
